[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
bpython = "*"
pep8 = "*"
autopep8 = "*"
pyflakes = "*"
pylint = "*"
flake8 = "*"
yapf = "*"
python-language-server = "*"
pyls-isort = "*"
pyls-mypy = "*"
isort = "*"

[packages]
joblib = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
mojimoji = "*"

[requires]
python_version = "3.7"
